#board{
	font-family: 'Indie Flower', cursive, Tahoma, sans-serif;
	max-width: 312px;
	max-height: 312px;
	margin: 0 auto;
	padding-left: 12px;
}


button{
	font-family: 'Titan One', cursive, 'Lato', sans-serif;
	width: 100%;
	height: 40px;
	background-color: rgba(255, 255, 255, 0.15);
	color: #FFF;
	border: none;
	margin: 0 auto;
}

button:hover{
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.1);
}

/* cells */
.cell{
	background-color: #fff;
	opacity: 0.1;
	width: 100px;
	height: 100px;
	margin:2px;
	border-radius: 25%;
	cursor: pointer;

	font-size: 60px;
	text-align: center;
	vertical-align: middle;
	line-height: 100px;
}

.cell:hover{
	opacity: 0.05;
}

.cell.O-tile{
	background-color: #FFF;
	color: #000;
}

.cell.X-tile{
	background-color: #000;
	color: #FFF;
	border-color: #FFF;
}

.cell.used:hover{
	opacity: 1;
	cursor: not-allowed;
}

.used{
	opacity: 0.98;
	border-style: solid;
	border-width: 2px;
}

#main-box{
	max-width: 400px;
	max-height: 500px;
	margin: auto;
	margin-top: 5%;
}

#stats-box{
	width:100%;
	margin: 20px auto;
}

#stats-box div{
	margin: auto;
}

#stats-box span{
	text-align: center;
	padding: 0px 10px;
	font-size: 15px;
	color: #FFF;
	margin: auto;
}

#X-stats:hover{
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
}

#O-stats:hover{
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.2);
}

#X-stats.selected{
	background-color: rgba(255, 255, 255, 0.15);
}

#O-stats.selected{
	background-color: rgba(255, 255, 255, 0.15);
}

#title-bar{
	margin: 35px auto;
}

#title-bar h1{
	color: #FFF;
	font-size: 40px;
	text-align: center;
}

#back{
	overflow: hidden;
	display: inline-block;
	height: 100vh;
    width:  100vw;
	background-color: #000;
	font-family: 'Titan One', cursive, 'Lato', sans-serif;
}